#wcfm_product_size_chart {--borderColor: #dcdcdc}

table.table-wcfm-product-sizes .actions a {font-size: 18px; margin-right: 5px}

table.table-wcfm-product-sizes .actions a:last-child {margin-right: 0;}

#wcfm_product_size_chart table.table-product-size-chart-edit {border-collapse: collapse}

#wcfm_product_size_chart table.table-product-size-chart-edit tr th,
#wcfm_product_size_chart table.table-product-size-chart-edit tr td {
    padding: 10px 15px!important;
    border: 1px solid var(--borderColor);
}

#wcfm_product_size_chart table.table-product-size-chart-edit tr th {
    width: 250px;
    font-weight: normal;
    padding-top: 19px!important; 
    vertical-align: top!important;
    background-color: #f3f3f3;
}

#wcfm_product_size_chart [name="post_title"] {width: min(100%, 700px)}

#wcfm_product_size_chart .wp-switch-editor {top: 11px}

#wcfm_product_size_chart select, #wcfm_product_size_chart .btn-submit {
    padding: 10px;
}

#wcfm_product_size_chart .btn-submit {
    min-width: 140px;
}

#wcfm_product_size_chart .table-product-size-chart-edit .select2-container {margin-bottom: 0;}


#chart-editor-container {display: flex}

#chart-editor-container .btn-add-column {
    padding: 20px 12px;
    text-align: center;
    margin-left: -1px!important;
    writing-mode: vertical-rl;
    background-color: #f3f3f3;
    border: 1px solid var(--borderColor);
}

#chart-editor-container .btn-add-row {
    display: block;
    padding: 10px 20px;
    text-align: center;
}

#wcfm_product_size_chart table.table-wcfm-chart-editor {margin: 0!important; --removeColor: #711700 }

#chart-editor-container table.table-wcfm-chart-editor tr th, #chart-editor-container table.table-wcfm-chart-editor tr td {
    padding: 0!important;
    position: relative;
}

#wcfm_product_size_chart table.table-wcfm-chart-editor .remove-row {text-align: center; cursor: pointer; min-width: 34px; width: 1%!important}

#wcfm_product_size_chart table.table-wcfm-chart-editor td.remove-row:hover {
    color: #fff;
    background-color: var(--removeColor);
    border-color: var(--removeColor)!important;
}

#wcfm_product_size_chart table.table-wcfm-chart-editor [data-delete-column],
#wcfm_product_size_chart table.table-wcfm-chart-editor [data-delete-row] {
    cursor: pointer;
}

#wcfm_product_size_chart table.table-wcfm-chart-editor [data-delete-column] {
    padding: 0;
    position: absolute;
    z-index: 3;
    right: 2px;
    top: 3px;
    font-size: 10px;
    width: 14px;
    height: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--removeColor);
    border-radius: 100px;
    transition: all 200ms;
}

#wcfm_product_size_chart table.table-wcfm-chart-editor th:hover [data-delete-column] {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

#chart-editor-container table.table-wcfm-chart-editor input {
    width: 100%;
    border: none!important;
    box-shadow: none!important;
    background-color: transparent!important;
}

table.table-wcfm-chart-editor tfoot td {padding: 0!important; border-top: none!important; background-color: #f3f3f3!important}

#chart-editor-container table.table-wcfm-chart-editor {border-collapse: collapse}

.wcfm-product-size-chart-container table.wcfm-product-size-chart-table {margin-top: 20px;}

table.wcfm-product-size-chart-table tr th,
table.wcfm-product-size-chart-table tr td {
    text-align: center;
    border: 1px solid #dcdcdc!important
}

table.wcfm-product-size-chart-table thead tr th {
    background-color: #f3f3f3;
}